<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if config.site_author %}
        <meta name="author" content="{{ config.site_author }}">
        {% endif %}
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{
            config.site_name }}</title>
        <link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">
        <link rel="stylesheet" href="{{ 'css/theme.css'|url }}">
        {% for path in config.extra_css %}
        <link href="{{ path|url }}" rel="stylesheet">
        {% endfor %}
        <script>var base_url = '{{ base_url }}';</script>
        <script src="{{ 'js/theme.js'|url }}"></script>
        {% for path in config.extra_javascript %}
        <script src="{{ path|url }}"></script>
        {% endfor %}
    </head>

    <body class="theme-dark has-navbar-fixed-top"
        style="min-height: 100vh">
        {% if nav|length>1 %}
        <nav class="navbar is-fixed-top" role="navigation"
            aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger" aria-label="menu"
                        aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        {% for nav_item in nav %}
                        {% include "nav.html" %}
                        {% endfor %}
                    </div>

                    <div class="navbar-end">
                        {% if page and page.edit_url %}
                        <a class="navbar-item" href="{{ page.edit_url }}">
                            <i class="fa-brands fa-github"></i>&nbsp;Edit on {{ config.repo_name }}
                        </a>
                        {% elif config.repo_url %}
                        <a class="navbar-item" href="{{ config.repo_url }}">
                            {{ config.repo_name }}
                        </a>
                        {% endif %}
                        {% if config.theme.theme_switcher %}
                        <div class="navbar-item">
                            <button class="button theme-switcher" id="theme-switcher">
                                <i class="fa-regular fa-face-smile" aria-label="Theme Switcher"></i>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <img src="../img/bandeau.png" id="frise" alt="frise" style="{display: absolute; top: 50px;}" />
        {% endif %}
        <section class="section">
            <div class="container">
                <!-- Missing TOC -->
                {% block content %}
                {{ page.content }}
                {% endblock %}
            </div>
        </section>
        {% if page.next_page or page.previous_page %}
        <section class="section">
            <div class="container">
                <div class="is-flex is-justify-content-end">
                    {% if page.previous_page %}
                    <a href="{{ page.previous_page.url|url }}"
                        title="{{ page.previous_page.title }}" class="has-text-light">
                        <i class="fa-solid fa-caret-left"></i>&nbsp;Previous Page
                    </a>
                    {% else %}
                    Previous Page
                    {% endif %}
                    &nbsp;
                    <span>
                    <i class="fa-solid fa-minus"></i>
                    </span>
                    &nbsp;
                    {% if page.next_page %}
                    <a href="{{ page.next_page.url|url }}" title="{{ page.next_page.title }}" class="has-text-light">
                        Next Page&nbsp;<i class="fa-solid fa-caret-right"></i>
                    </a>
                    {% else %}
                    Next Page
                    {% endif %}
                </div>
            </div>
        </section>
        {% endif %}
        {% include "footer.html" %}
    </body>

</html>