h1 {
  color: red;
  font-size: 2rem;
}
h2 {
  color: blue;
  font-size: 1.5rem;
}

#video-bottom {
  position: relative;
  min-height: 150px;
}

#video-bottom-content {
  position: absolute;
  bottom: 0;
  left: 0;
}
